@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f5ece7;
  --color-text: #2f2822;
  --color-border-on-bg-default: #2f2822;

  --color-primary: #e2a227;
  --color-button-main: #6cb16e;
  --color-button-secondary: #c8816b;
  --color-card-background: #ead8c4;
  --color-1: #c8816b;
  --color-2: #fc8baf;
  --color-3: #d2eadc;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-background: #303030;
    --color-text: #ededed;
    --color-border-on-bg-default: #ededed;
  }
} */

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-space-grotesk), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.jp {
  font-family: var(--font-klee-one), sans-serif;
}
