@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFFDFB;
  --text-color: #171717;
  --color-border-on-bg-default: #171717;

  --color-primary: #3AA6B9;
  --color-secondary-: #FF9EAA;
  --color-border-primary: #C1ECE4;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #303030;
    --text-color: #ededed;
    --color-border-on-bg-default: #ededed;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-space-grotesk), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.jp {
  font-family: var(--font-klee-one), sans-serif;
}